@font-face {
  font-family: cairo;
  src: url(../../fonts/Cairo-VariableFont_wght.ttf);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: cairo;
}

/* .page {
  display: grid;
  height: 100vh;
  background-color: #eee;
  color: #fff;
  text-align: center;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 10% 1fr 10%;
  grid-template-areas:
    "logo logo nav nav nav nav nav nav nav nav"
    " cont cont cont cont cont cont cont side side side"
    " footer footer footer footer footer footer footer footer footer footer";
}

nav ul li {
  list-style-type: none;
  display: inline-block;
}

h2 {
  grid-area: logo;
  background-color: #f44336;
}

nav {
  grid-area: nav;
  background-color: #2196f3;
}

section {
  grid-area: cont;
  background-color: #673ab7;
}

aside {
  grid-area: side;
  background-color: #009688;
}

footer {
  grid-area: footer;
  background-color: #9e9e9e;
} */

.page {
  background-image: linear-gradient(to top, #f44336, #673ab7);
  height: 100vh;
  color: white;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 5% 1fr 5%;
  grid-template-areas:
    ". logo   nav nav nav nav nav nav nav  . "
    ". cont  cont cont cont cont cont   side side ."
    ". footer footer footer footer footer footer footer footer .";
}

h2 {
  grid-area: logo;
  background-color: #f44336;
  grid-row: 1 / 3;
}
nav {
  grid-area: nav;
  background-color: #03a9f4;
  grid-column: span 5;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
}

section {
  grid-area: cont;
  background-color: #009688;
}
aside {
  grid-area: side;
  background-color: #4caf50;
  grid-row: span 2;
}
footer {
  grid-area: footer;
  background-color: #9e9e9e;
}

/*
    Grid
    Parent:
        -display: grid | inline-grid
        -grid-template-columns => Number Of Columns in => [px, %, Auto, Fraction, Repeat(), Mix]
        -grid-template-columns => Number Of Rows Height in => [px, %, Auto, Fraction, Repeat(), Mix]
        -gap

*/

/* .parent {
  margin: 20px auto;
  padding: 10px;
  background-color: #f44336;
  width: 800px;
  height: 500px;
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(3, auto);
  gap: 0 10px;
  align-content: space-between;
}

.parent div {
  background-color: #8bc34a;
  color: #fff;
  padding: 20px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
} */
