/* .l6 {
  background-color: red; 
  background-color: rgb(255, 0, 0); 
  background-color: rgba(255, 0, 0, 1); 
  background-color: #f00; 
  background-image: url("../../img/183bf966265699.5b1012ac416ee.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-position: 200px 100px;
  background-size: contain;
} */

/* .l7 {
  background-color: #ddd;
  padding: 110px 200px;
} */

/* .l8 {
  background-color: #ddd;
  padding: 110px 200px;
  width: 50%;
  margin: auto;
} */
