@font-face {
    font-family: cairo;
    src: url(../../fonts/Cairo-VariableFont_wght.ttf);
}
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: cairo;
}
 .assign-one {
    display: none;
}

@media print {
    .assign-one {
        display: block;
        font-size: 40px;
        
    }
    .assign-one::first-letter{
        font-size: 4em;
        color: red;
    }
}

.assign-two {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 50px;
    
}
.assign-two div {
    background-color: #EEE;
    padding: 20px 0 ;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 25px;
    color: #554;
    width: calc(25% - 70px);

    
}

.assign-two h3  {
    color: #009688;
    font-weight: bold;
}

@media  (max-width: 767px) {
    .assign-two div {
        min-width: calc(100% - 70px);
    }
    .assign-two h3  {
        color: #000;
    }
    
}

@media (min-width: 768px ) and (max-width: 992px ) {
    .assign-two div {
        min-width: calc(50% - 70px);
    }
    .assign-two h3  {
        color: #f00;
    }
    
}

@media (min-width: 1200px) {
    .assign-two div {
        width: calc(25% - 70px);
    }

} 
.assign-three {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 25px;
    padding: 20px;
    
    
}

.assign-three div {
    background-color: #EEE;
    padding: 20px 0 ;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 25px;
    color: #554;
    width: calc(50% - 10px);

    
}
.assign-three h3  {
    color: #009688;
}

.assign-three  .full  {
    width: 100%;
}
/* large screen */
@media (min-width: 1200px) {
    .assign-three div{
        width: calc((100% - 0) / 2 );
    }
    .assign-three .full {
        width: calc(100%  );
    }
}


/* mid screen */
@media (min-width: 768px) and (max-width: 992px) {
    .assign-three .half{
        width: calc((100% - 30px) / 3);
    }
    
    .assign-three h3  {
        color: #f00;
    }
} 


/* small screen */
@media (max-width: 767px) {
    .assign-three {
        justify-content: space-around;
    }
    .assign-three .product{
        width: calc(100% - 30px);
        
    }
    .assign-three h3  {
        color: #000;
    }
}